
body{

    background-color: white;

     
    
    }
#particle-js {
    position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -10;
    
     
      }

    #mainDiv{
    border-width:10px;
    border-color: black;
    margin-top: 150px;
    
    }
    h1{
        font-size: 97px;
        margin: 10px;
    }
    
    label{
        color: black;
        font-size: 40px;
        margin: 10px;
    }
    i{
        font-size: 20px;
        color: black;
        margin: 10px;
    }
    .formstyle{
        font-size: 20px;
        border : none;
        background: none;
        color: black;
        
    }
    .mine{
        border-bottom: 3px solid black;
    }
    .container{
            border-radius: 20px;
    
        }
    
    button{
        background: none;
         
        border:   solid black;
        color: black;
    }
    button:hover{
        background: black;
         
        border:   solid black;
        color: white;
    }
    