* {
    box-sizing: border-box;
}
body {
    background-color: rgba(0,0,0,0.075);
}
#logo {
    height: 55px;
    padding-left: 100px;
}
.nav {
    display: inline-block;
    padding:20px;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    padding-right: 50px;
}
nav {
    float: right;
}
.logo {
    position: absolute;
    margin-top: 0px;
    margin-left: 10px;
}
#media {
    padding-right: 200px;
}
.text {
    width: 100%;
    height: 100%;
    background: url(nav.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    color: whitesmoke;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25%;
    filter: invert(20%);
}
#logo2 {
    position: absolute;
}
#demoimage {
    float: right;
    height: 250px;
    padding-right: 25%;
}
#demotext {
    float: left;
    padding-top: 120px;
    padding-left: 25%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.learn {
    text-align: center;
    line-height: 5px;
}
.learnmore {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}
.learn {
    font-family: Arial, Helvetica, sans-serif;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
  
.cardtext {
    padding: 0 16px;
}
  
.cardtext::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
.column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.card1 {
    width: 100%;
}
.card2 {
    width: 100%;
}
.row {
    margin-left: 150px;
    margin-right: 150px;
}
h4 {
    text-align: center;
    font-size: 20px;
}
.row1 {
    margin-left: 170px;
    margin-right: 200px;
    width: 75%;
    padding: 8px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
}
.hyperloop {
    float: left;
    width: 450px;
    height: 220px;
    padding: 0 10px 0 0;
}
.whydoweneed {
    text-align: justify;
    font-size: 18px;
}
.content {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
    font-size: 25px;
}
.hyperloop-one {
    padding-left: 5%;
    padding-right: 2%;
}
.xp1 {
    align-items: center;
}
.advanced {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.news {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    font-size: 22px;
}
h1 {
    font-weight: lighter;
}
#news-grid {
    width: 100%;
    height: 50%;
    padding: 150px;
    padding-top: 0px;
    justify-content: stretch;
    padding-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
.col {
    float: left;
    width: 25%;
    height: 25%;
    
}
.col {
    margin-top: 12px;
}
.newss {
    margin-top: 12px;
    height: relative;
    width: 95%;
}
.roww:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 800px) {
    .col {
      flex: 50%;
      max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .col {
      flex: 100%;
      max-width: 100%;
    }
}
.finalimage {
    background-image: url(image_14.jpg);
    padding: 55px;
    filter: invert(20%);
    background-repeat: no-repeat;
    background-size: 100%;
}
.hiring {
    color: whitesmoke;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.hiringtext {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 78%;
}
.submit {
    font-size: 18px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: rgb(0, 140, 255);
    border-radius: 10px;
    border-color: rgb(0, 140, 255);
}